<div class="side-nav-container">
    <div class="button-container">
        <mat-selection-list [multiple]='false'>
            <mat-list-option>
                <button mat-icon-button disableRipple='true'>
                    <mat-icon svgIcon='overview'></mat-icon><span>Overview</span>
                </button>
            </mat-list-option>
            <mat-list-option>
                <button mat-icon-button disableRipple='true'>
                    <mat-icon svgIcon='map'></mat-icon><span>Mail Analytics</span>
                </button>
            </mat-list-option>
            <mat-list-option>
                <button mat-icon-button disableRipple='true'>
                    <mat-icon svgIcon='address-book'></mat-icon><span>Address Book</span>
                </button>
            </mat-list-option>
            <mat-list-option>
                <button mat-icon-button disableRipple='true'>
                    <mat-icon svgIcon='html'></mat-icon><span>HTML Template</span>
                </button>
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>
